RecordTechnology/RecordTechnology.xcodeproj/xcuserdata/*
RecordTechnology/RecordTechnology.xcodeproj/project.xcworkspace/xcuserdata/*
RecordTechnology/RecordTechnology.xcodeproj/project.xcworkspace/xcshareddata/*
RecordTechnology/RecordTechnology.xcworkspace/xcuserdata/*
RecordTechnology/RecordTechnology.xcworkspace/xcshareddata/*
RecordTechnology/Pods/Pods.xcodeproj/xcuserdata/*
RecordTechnology/build/*
RecordTechnology/Pods/Pods.xcodeproj/xcuserdata/*
RecordTechnology/Pods/*
RecordTechnology/Podfile.lock

bin
obj
packages
*.suo
*.user
*.DS_Store*
contents.xcworkspacedata



