<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
	<string>商品房验收标准和注意事项.docx</string>
</array>
</plist>
